<div class="p-worksslider__main swiper">
    <!--メインスライド　 スライドを囲む div 要素（必須） -->
    <div class="swiper-wrapper">
        <!-- それぞれのスライドの div 要素（必須） -->
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src1 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src2 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src3 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src4 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src5 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src6 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src7 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src8 %>" alt=""></div>
        </div>
        <!-- If we need navigation buttons -->


    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="p-worksslider__thumbnail swiper">
    <!-- サムネイルスライド　スライドを囲む div 要素（必須） -->
    <div class="swiper-wrapper">
        <!-- それぞれのスライドの div 要素（必須） -->
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src1 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src2 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src3 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src4 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src5 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src6 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src7 %>" alt=""></div>
        </div>
        <div class="swiper-slide">
            <div class="slide-img"><img src="<%= src8 %>" alt=""></div>
        </div>
    </div>
</div>