<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>
    <%- include('./component/_c-eyecatch') %>
    <%- include('./component/_c-tab') %>
    <%- include('./component/_c-pagenation') %>


    <%- include('./common/_footer') %>





  </body>

</html>