<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_p-head') %>

  <body>
    <%- include('./common/_p-header') %>
      <%- include('./component/_c-eyecatch') %>
        <%- include('./component/_c-tab') %>
          <%- include('./component/_c-pagenation') %>


            <%- include('./common/_p-footer') %>





  </body>

</html>