<!DOCTYPE html>
<html lang="ja">
<%- include('./project/_p-head') %>

  <body>
    <%- include('./project/_p-header') %>
      <%- include('./component/_c-eyecatch') %>
        <%- include('./component/_c-text-with-img') %>




          <%- include('./project/_p-footer') %>





  </body>

</html>