<!DOCTYPE html>
<html lang="ja">
  <%- include('./project/_p-head') %>
  <body>
    <header>
        <%- include('./project/_p-header') %>
    </header>
    <main>
      <section class="l-eyecatch">
        <%- include('./component/_c-eyecatch',{text:'お問い合わせ'}) %>
      </section>
      <section class="l-breadcrumbs">
        <%- include('./component/_c-breadcrumbs',{text:'お問い合わせ'}) %>
      </section>
      <section class="l-form">
        <div class="l-inner">
          <%- include('./project/_p-form') %>
        </div>
      </section>
    </main>
    <footer class="l-footer">
      <%- include('./project/_p-footer') %>
    </footer>
  </body>
</html>