<!DOCTYPE html>
<html lang="ja">
<%- include('./project/_p-head') %>
  <body>
    <header>
      <%- include('./project/_p-header') %>
    </header>
    <main>
      <section>
        <%- include('./component/_c-eyecatch',{text:'事業内容', src:'../images/content/eyecatch.jpg'}) %>
      </section>
      <section class="l-breadcrumbs">
        <%- include('./component/_c-breadcrumbs',{text:'事業内容'}) %>
      </section>
      <div class="l-sub-content">
        <%- include('./project/_p-sub-content') %>
      </div>
      
      
      
    </main>
    <footer>
      <%- include('./project/_p-footer') %>
    </footer>





  </body>

</html>