<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>
    <%- include('./component/_c-eyecatch') %>
    <%- include('./component/_c-text-with-img') %>




    <%- include('./common/_footer') %>





  </body>

</html>