<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_top-header') %>
      <%- include('./component/_c-btn',{text:'これはテストです', link:'#'}) %>
        <% for (var i=0; i < 4; i++) { %>
          <%- include('./component/_c-btn',{text:'これはテストです', link:'#'}) %>
            <% } %>
              <div class="rietest">
                <%- include('./common/_card') %>
              </div>

              <%- include('./common/_footer') %>





  </body>

</html>