<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>
      <%- include('./component/_c-section-title') %>
      <%- include('./component/_c-btn',{text:'詳しく見る', link:'#'}) %>
      <%- include('./component/_c-page-top-btn') %>
    <%- include('./common/_footer') %>





  </body>

</html>