<!DOCTYPE html>
<html lang="ja">
  <%- include('./project/_p-head') %>
  <body>
    <header>
      <%- include('./project/_p-header') %>
    </header>
    <main>
      <section class="l-mainview">
        <%- include('./project/_p-mainview') %>
      </section>
      <section class="l-news-list">
        <div class="l-inner">
          <%- include('./project/_p-news-list') %>
          <%- include('./component/_c-btn',{text:'詳しく見る', link:'#'}) %>
        </div>
      </section>


      <%- include('./component/_c-section-title',{text:'事業内容'}) %>
      <%- include('./project/_p-top-content') %>
      <%- include('./component/_c-section-title',{text:'製作実績'}) %>
      <%- include('./project/_p-top-slider') %>
      <%- include('./component/_c-section-title',{text:'企業概要'}) %>
      <%- include('./component/_c-section-title',{text:'ブログ'}) %>
      


      <section class="l-contactarea">
        <div class="inner">
          <%- include('./project/_p-contactarea') %>
        </div>
      </section>
      <%- include('./component/_c-page-top-btn') %>
    </main>
    <footer>
      <%- include('./project/_p-footer') %>
    </footer>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  </body>

</html>