<!DOCTYPE html>
<html lang="ja">
  <%- include('./project/_p-head') %>
  <body>
    <header>
      <%- include('./project/_p-header') %>
    </header>
    <main>
      <section class="l-mainview">
        <%- include('./project/_p-mainview') %>
      </section>
      <section class="l-news-list">
        <%- include('./project/_p-top-news-list') %>
      </section>
      <section class="l-content">
        <%- include('./project/_p-top-content') %>
      </section>
      <section class="l-works">
        <%- include('./project/_p-top-works') %>
      </section>
      <section class="l-overview">
        <%- include('./project/_p-top-overview') %>
      </section>
      <section class="l-blog">
        <div class="inner">
          <%- include('./component/_c-section-title',{secTitle:'ブログ'}) %>
          <%- include('./component/_c-btn',{text:'詳しく見る', link:'#'}) %>
        </div>
      </section>
      


      <section class="l-contactarea">
        <div class="inner">
          <%- include('./project/_p-contactarea') %>
        </div>
      </section>
      <%- include('./component/_c-page-top-btn') %>
    </main>
    <footer>
      <%- include('./project/_p-footer') %>
    </footer>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  </body>

</html>