<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>
    <%- include('./common/_header') %>

    <%- include('./component/_c-btn',{text:'詳しく見る', link:'#'}) %>
    <%- include('./common/_footer') %>
    <%- include('./component/_page-top-btn') %>





  </body>

</html>