<!DOCTYPE html>
<html lang="ja">
  <%- include('./project/_p-head') %>
  <body>
    <header>
      <%- include('./project/_p-header') %>
    </header>
    <main>
      <section class="l-mainview">
        <%- include('./project/_p-mainview') %>
      </section>
      <section class="l-news-list">
        <%- include('./project/_p-top-news-list') %>
      </section>
      <div class="p-background-liner p-background-liner1">
        <section class="l-content">
          <%- include('./project/_p-top-content') %>
        </section>
        <section class="l-works">
          <%- include('./project/_p-top-works') %>
        </section>
      </div>
      <div class="p-background-liner p-background-liner2">
        <section class="l-overview">
          <%- include('./project/_p-top-overview') %>    
        </section>
        <section class="l-blog">
          <%- include('./project/_p-top-blog') %>
        </section>
      </div>
      <section class="l-contactarea">
        <%- include('./project/_p-contactarea') %>
      </section>
    </main>
    <footer>
      <%- include('./project/_p-footer') %>
    </footer>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  </body>

</html>