<!DOCTYPE html>
<html lang="ja">
<%- include('./project/_p-head') %>

  <body>
    <header class="l-header">
      <%- include('./project/_p-header') %>
    </header>
    <main>
      <div class="l-eyecatch">
        <%- include('./component/_c-eyecatch',{text:'お知らせ', src:'../images/news/eyecatch.jpg'}) %>
      </div>
      <div class="l-breadcrumbs">
        <% const pages=['お知らせ'] %>
          <%- include('./component/_c-breadcrumbs',{pages}) %>
      </div>
      <div class="p-sub-news l-sub-news">
        <div class="l-inner">
          <div class="p-sub-news__list">
            <% var counter=1; %>
              <% while (counter <=10) { %>
                <%- include('./project/_p-news-list') %>
                  <% counter++; %>
                    <% } %>
          </div>
          <div class="p-sub-news__pagenation">
            <%- include('./component/_c-pagenation') %>
          </div>
        </div>
      </div>

      <div class="l-contactarea">
        <%- include('./project/_p-contactarea') %>
      </div>
    </main>
    <footer class="l-footer">
      <%- include('./project/_p-footer') %>
    </footer>

  </body>

</html>