<!DOCTYPE html>
<html lang="ja">
<%- include('./project/_p-head') %>

  <body>
    <header>
      <%- include('./project/_p-header') %>
    </header>
    <main>
      <div class="l-eyecatch">
        <%- include('./component/_c-eyecatch') %>
      </div>
      <div class="l-breadcrumbs">
        <%- include('./component/_c-breadcrumbs',{text:'お知らせ'}) %>
      </div>
      <div class="p-sub-news l-sub-news">
        <div class="l-inner">
          <div class="p-sub-news__list">
            <%- include('./project/_p-news-list') %>
          </div>
          <div class="p-sub-news__pagenation">
            <%- include('./component/_c-pagenation') %>
          </div>
        </div>
      </div>

      <div class="l-contactarea">
        <%- include('./project/_p-contactarea') %>
      </div>
    </main>
    <footer class="l-footer">
      <%- include('./project/_p-footer') %>
    </footer>

  </body>

</html>