<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

  <body>

    <%- include('./common/_top-header') %>
      <section class="rietest">
        <h2>リエ作成パーツ表示確認用ページです！</h2>
        <div class="l-inner">


          <%- include('./common/_card') %>
            <%- include('./component/_c-relatedtitle') %>
              <%- include('./common/_workscard') %>
                <%- include('./component/_c-map') %>
                  <%- include('./common/_news') %>

        </div>

        <%- include('./common/_footer') %>

      </section>



  </body>

</html>