<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_p-head') %>

  <body>

    <%- include('./common/_p-header') %>
      <section class="rietest">
        <h2>リエ作成パーツ表示確認用ページです!</h2>
        <h3 class="rietest__partstitle">メインビュー:p-mainview</h3>
        <%- include('./common/_p-mainview') %>
          <h3 class="rietest__partstitle">パンくず:c-breadcrumbs</h3>
          <%- include('./component/_c-breadcrumbs',{text:'事業内容'}) %>
            <div class="l-inner">

              <h3 class="rietest__partstitle">カード:p-cards, p-card</h3>
              <%- include('./common/_p-cards') %>
                <h3 class="rietest__partstitle">関連記事タイトル:c-relatedtitle</h3>
                <%- include('./component/_c-relatedtitle') %>
                  <h3 class="rietest__partstitle">制作実績カード:p-workscard</h3>
                  <%- include('./common/_p-workscard',{src:'./images/works/works__img01.jpeg',category:'カテゴリ',
                    title:'CodeUps株式会社'}) %>
                    <h3 class="rietest__partstitle">ページネーション（一覧）:c-pagenation02</h3>
                    <%- include('./component/_c-pagenation02',{text:'事業内容'}) %>
                      <h3 class="rietest__partstitle">gogleマップ:c-map</h3>
                      <%- include('./component/_c-map') %>
                        <h3 class="rietest__partstitle">お知らせ:p-news</h3>
                        <%- include('./common/_p-news') %>


                          <h3 class="rietest__partstitle">制作実績スライダー:p-worksslider</h3>
                          <div class="p-singleworks__slider rietest__slider">
                            <%-
                              include('./common/_p-worksslider',{src1:'./images/works/works__img01.jpeg',src2:'./images/works/works__img02.jpeg',src3:'./images/works/works__img03.jpeg',src4:'./images/works/works__img04.jpeg',src5:'./images/works/works__img01.jpeg',src6:'./images/works/works__img02.jpeg',src7:'./images/works/works__img03.jpeg',src8:'./images/works/works__img04.jpeg'})
                              %>
                          </div>

            </div>
            <h3 class="rietest__partstitle">トップページコンテンツ横並び:p-topcontainer</h3>
            <%- include('./common/_p-topcontainer', {src:'./images/top/topcontainer__img01.jpeg',title:'メインタイトルが入ります',
              text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'})
              %>
              <h3 class="rietest__partstitle">スマホメニュー:p-modal</h3>
              <%- include('./common/_p-modal') %>




      </section>
      <%- include('./common/_p-footer') %>


        <script>  // メインビュースライダー設定
          let mySwiper = new Swiper('.p-mainview__slider', {
            // オプションの設定
            loop: true,  //ループ可能（ループモードを有効に）
            effect: 'fade',
            autoplay: {
              delay: 4000,
              disableOnInteraction: false,
            },

          });
        </script>

        <script>// 制作実績スライダー設定
          //メイン
          var main = new Swiper('.p-worksslider__main', {
            slidesPerView: 1,
            centeredSlides: true,
            loop: true,
            loopedSlides: 8, //スライドの枚数と同じ値を指定
            autoplay: {
              delay: 4000,
              disableOnInteraction: false,

            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          });

          //サムネイル
          var thumbnail = new Swiper('.p-worksslider__thumbnail', {
            slidesPerView: 3,
            spaceBetween: 24,
            loop: true,
            loopedSlides: 8,
            centeredSlides: true,
            slideToClickedSlide: true,
            breakpoints: {
              768: {
                slidesPerView: 8,
                spaceBetween: 10,
              },
            },
          });

          //4系～
          //メインとサムネイルを紐づける
          main.controller.control = thumbnail;
          thumbnail.controller.control = main;

        </script>

  </body>

</html>