<!DOCTYPE html>
<html lang="ja">
<%- include('./project/_p-head') %>

    <body>
        <header>
            <%- include('./project/_p-header') %>
        </header>
        <main>
            <div class="l-eyecatch u-desktop">
                <%- include('./component/_c-eyecatch',{text:'製作実績', src:'./images/works/eyecatch.jpg'}) %>
            </div>
            <div class="l-eyecatch u-mobile">
                <%- include('./component/_c-eyecatch',{text:'製作実績', src:'./images/works/eyecatch-sp.jpg'}) %>
            </div>
            <div class="l-breadcrumbs">
                <% const pages=['製作実績'] %>
                <%- include('./component/_c-breadcrumbs',{pages}) %>
            </div>
            <div class="p-sub-works">
                <div class="l-inner">
                    <div class="p-sub-works__tab l-sub-works__tab">
                        <%- include('./component/_c-tab') %>
                    </div>
                    <div class="p-sub-works__contents">
                        <% const worksLists=[{src:'./images/works/works__img01.jpeg',category:'カテゴリ',
                            title:'CodeUps株式会社1'},{src:'./images/works/works__img01.jpeg',category:'カテゴリ',
                            title:'CodeUps株式会社2'},{src:'./images/works/works__img01.jpeg',category:'カテゴリ',
                            title:'CodeUps株式会社3'},{src:'./images/works/works__img01.jpeg',category:'カテゴリ',
                            title:'CodeUps株式会社4'},{src:'./images/works/works__img01.jpeg',category:'カテゴリ',
                            title:'CodeUps株式会社5'},{src:'./images/works/works__img01.jpeg',category:'カテゴリ',
                            title:'CodeUps株式会社6'},{src:'./images/works/works__img01.jpeg',category:'カテゴリ',
                            title:'CodeUps株式会社7'}]%>

                            <% worksLists.forEach(function(worksList){ %>
                                <div class="p-sub-works__card">
                                    <%- include('./project/_p-workscard',{worksList}) %>
                                </div>
                                <% }); %>
                    </div>

                    <div class="p-sub-works__pagenation l-single-works__pagenation">
                        <%- include('./component/_c-pagenation') %>
                    </div>
                </div>


            </div>
            <div class="l-contactarea">
                <%- include('./project/_p-contactarea') %>
            </div>
        </main>
        <%- include('./project/_p-footer') %>

    </body>

</html>